@CHARSET "UTF-8";
html, body{ 
	margin:0; 
	padding:0; 
	text-align:center; 
	width:60%;
	margin:auto;
	font-family: Arial, Helvetica, sans-serif;
}
#header{
	font-size:12px;
	font-weight:bold;
	background: #0e0e0e; /* Old browsers */
	background: -moz-linear-gradient(top,  #0e0e0e 0%, #7d7e7d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0e0e0e), color-stop(100%,#7d7e7d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0e0e0e 0%,#7d7e7d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0e0e0e 0%,#7d7e7d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0e0e0e 0%,#7d7e7d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0e0e0e 0%,#7d7e7d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#7d7e7d',GradientType=0 ); /* IE6-9 */
	min-height:20px;
	height:auto !important; 
	margin-top:20%;
	text-align:center;
	color:#FFFFFF;
	padding:4px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	box-shadow: 0px 2px 5px 0px #000;
	-moz-box-shadow: 0px 2px 5px 0px #000;
	-webkit-box-shadow: 0px 2px 5px 0px #000;
}
#login{
	background-image:url("images/test.png");
	background-repeat:no-repeat;
  	background-position:center center;
	/*background-color:#bab8b8;
	color:#FFFFFF;
	border-bottom:1px solid #585555;
	border-left:1px solid #585555;
	border-right:1px solid #585555;
	padding:16px;
	text-align:right;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;*/
	font-size:12px;
	background-color:#7d7e7d;
	color:#FFFFFF;
	/*border-bottom:1px solid #585555;*/
	border-left:1px solid #7d7e7d;
	border-right:1px solid #7d7e7d;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding:16px;
	text-align:right;
	
	box-shadow: 0px 2px 5px 0px #000;
	-moz-box-shadow: 0px 2px 5px 0px #000;
	-webkit-box-shadow: 0px 2px 5px 0px #000;
}
ul li{
	list-style-type: none;
}
#login input{
	text-align:center;
	padding:4px;
}
#msgbox{
	font-size:10px;
	font-weight:bold;
}
#credits{
	background: #0e0e0e; /* Old browsers */
	background: -moz-linear-gradient(top,  #0e0e0e 0%, #7d7e7d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0e0e0e), color-stop(100%,#7d7e7d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0e0e0e 0%,#7d7e7d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0e0e0e 0%,#7d7e7d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0e0e0e 0%,#7d7e7d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0e0e0e 0%,#7d7e7d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#7d7e7d',GradientType=0 ); /* IE6-9 */

	color:#FFFFFF;
	
	padding:2px;
	text-align:justify;
	border-radius: 5px;
	font-size:10px;
}
#footer{
	clear:both;
	margin-top:30%;
	padding:20px;
	border-top:1px solid #585555;
	font-size:8px;
}
a{
	text-decoration:none;
	color:#000000;
}
a:hover{
	border-bottom:1px solid #FFFFFF;
}
.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background-color:#89c403;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528009;
}.button:hover {
	background-color:#77a809;
}.button:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */