<?php
/*
This file is part of APPROVA (Sistema de Evaluación por Proyectos y Estándares de Aprendizaje).

APPROVA (Sistema de Evaluación por Proyectos y Estándares de Aprendizaje) is developed by Ram&oacute;n Castro P&eacute;rez. You can get more information at http://www.siestta.org

APPROVA (Sistema de Evaluación por Proyectos y Estándares de Aprendizaje) is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation; either version 3 of the License, or
(at your option) any later version.

APPROVA (Sistema de Evaluación por Proyectos y Estándares de Aprendizaje) is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.

You cand find a copy of the GNU General Public License in the "license" directory.

You should have received a copy of the GNU General Public License along with APPROVA; if not, write to the Free Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA.
*/

// Activa informes de error. Comentar para desactivar

//ini_set('display_errors', 'On');
//error_reporting(E_ALL);

//// Constantes configurables por el administrador ////

// Identificador
define('APP_ID', '001');

// Servidor de la base de datos
define('DB_SERVER', 'localhost');

// Nombre de la base de datos
define('DB_DATABASE', 'approva');

// Prefijo para las tablas de la base de datos. Varias instancias de la
// aplicación pueden usar la misma base de datos si usan prefijos diferentes.
// De forma predeterminada se genera un prefijo basado en APP_ID
define('DB_PREFIX', APP_ID . '_');

// Usuario para acceder a la base de datos. El usuario debe existir en el
// servidor de base de datos y tener permisos para crear DB_DATABASE si no
// esiste ya en el servidor. Se desaconseja el uso de 'root'.
define('DB_MYSQL_USER', 'approva');

// Clave del usuario en MySQL
define('DB_MYSQL_PASSWORD', '');


//// NO EDITAR DEBAJO DE ESTA LINEA ////

// Nombre de la sesión. Un nombre de sesión específico permite tener varias
// copias instaladas en el mismo servidor sin interferencias en el proceso
// de autenticación

define('SESSION_ID', 'APPROVASESSION' . '_' . APP_ID);

// Nombres de las tablas de la base de datos

$tabla_agrupamientos = DB_PREFIX . 'agrupamientos';
$tabla_alumnado = DB_PREFIX . 'alumnado';
$tabla_asistencia = DB_PREFIX . 'asistencia';
$tabla_calificaciones = DB_PREFIX . 'calificaciones';
$tabla_diario = DB_PREFIX . 'diario';
$tabla_estandares = DB_PREFIX . 'estandares';
$tabla_horario = DB_PREFIX . 'horario';
$tabla_proyectos = DB_PREFIX . 'proyectos';
$tabla_user = DB_PREFIX . 'user';
?>
